<main>
  <section class="home">
    <markdown src="./assets/content/home-page.md"></markdown>
  </section>
  <section class="login">
    <h3>Login form</h3>
    <app-login-form></app-login-form>
  </section>
  <section>
    <h3>User data form</h3>
    <form class="userdata" [formGroup]="formGroup" (submit)="submit()">
      <textarea formControlName="textArea"> </textarea>
      <p class="errorMessage">{{ this.errorMessage }}</p>
      <button type="submit" [disabled]="!formGroup.valid">Save</button>
    </form>
  </section>
</main>
