<main>
  <section class="login">
    <h3>Login</h3>
    <app-login-form></app-login-form>
  </section>
  <section>
    <h3>Edit home page content</h3>
    <p>
      Editing the content will commit your changes to the
      <a href="https://github.com/everaerdpieter/jamstack-poc" target="blank"
        >GitHub repo</a
      >
      and trigger a CI/CD pipeline. This pipeline will deploy a new version of
      the site.
    </p>
    <p>
      See
      <a
        href="https://github.com/everaerdpieter/jamstack-poc/actions"
        target="blank"
        >GitHub actions</a
      >
      for the CI/CD pipeline progress:
    </p>
    <p>
      <a
        href="https://github.com/everaerdpieter/jamstack-poc/actions"
        target="blank"
      >
        <img
          src="https://github.com/everaerdpieter/jamstack-poc/workflows/deploy%20angular%20site/badge.svg"
      /></a>
    </p>
    <h3>Home page content:</h3>
    <app-edit-content-form></app-edit-content-form>
  </section>
</main>
